<div class="name">{{name}}</div>
<app-status [isOn]="isOn$ | async"></app-status>
<div class="buttons">
  <app-controller-button [color]="COLORS.GREEN" [controllerIndex]="controllerIndex" [isControllerOn]="isOn$ | async"></app-controller-button>
  <app-controller-button [color]="COLORS.YELLOW" [controllerIndex]="controllerIndex" [isControllerOn]="isOn$ | async"></app-controller-button>
  <app-controller-button [color]="COLORS.BLUE" [controllerIndex]="controllerIndex" [isControllerOn]="isOn$ | async"></app-controller-button>
  <app-controller-button [color]="COLORS.RED" [controllerIndex]="controllerIndex" [isControllerOn]="isOn$ | async"></app-controller-button>
  <app-controller-button [color]="COLORS.WHITE" [controllerIndex]="controllerIndex" [isControllerOn]="isOn$ | async"></app-controller-button>
</div>
