:host {
  background: #1F1E25;
  border-radius: .6rem;
  padding: 2rem;
  width: 100%;
  display: block;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  margin-bottom: .4rem;
}


.buttons {
  display: flex;
  margin-top: .9rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
