:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn {
  margin: 0 10px;
  margin-bottom: 15px;
  
  width: 20%;
}

.block {
  width: 100%;
  margin: 1rem 0;
  background: #25242D;
  border: 1px solid #E096CB;
  border-radius: 1rem;
  
  /* Inside auto layout */
  display: block;
  padding: 2rem;
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}

.manual-btn {
  color: #E096CB;
  
  justify-self: end;
  
  align-self: center;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  
  
  .text {
    position: absolute;
    bottom: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 10rem;
    left: 50%;
    bottom: 4rem;
    
    border-left: 2px solid #E096CB;;
  }
}
