:host {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn {
  margin: 10px 10px;
}
.block {
  width: 100%;
  margin: 1rem 0;
  background: #25242D;
  border: 1px solid #E096CB;
  border-radius: 1rem;
  
  /* Inside auto layout */
  display: block;
  padding: 2rem;
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
  }
}
