<div class="flamingo">
  <svg [matMenuTriggerFor]="menu" class="icon" [class.on]="flamingo$ | async">
    <use xlink:href="#flamingo"></use>
  </svg>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item (click)="toggleFlamingo()">
      <span *ngIf="flamingo$ | async">Turn Off</span>
      <span *ngIf="!(flamingo$ | async)">Turn on</span>
    </button>
  </mat-menu>
  <div>Flamingo</div>
</div>
<app-controller class="controller" name="Controller 1" controllerIndex="1"></app-controller>
<app-controller class="controller" name="Controller 2" controllerIndex="2"></app-controller>
<app-controller class="controller" name="Controller 3" controllerIndex="3"></app-controller>
<app-controller class="controller" name="Controller 4" controllerIndex="4"></app-controller>

