:host {
  width: 1025px;
  height: 446px;
  
  background: #25242D;
  border: 1px solid #E096CB;
  border-radius: 20px;
  
  /* Inside auto layout */
  display: block;
  padding: 40px;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  
  color: #E096CB;
}
.buttons {
  display: flex;
  order: 1;
  flex-grow: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.button {
  background: #424246;
  border: 2px solid #E096CB;
  border-radius: 175px;
  display: flex;
  width: 150px;
  height: 150px;
  &.play {
    width: 200px;
    height: 200px;
  }
}
