:host {
  width: 100%;
  height: 20rem;
  
  background: #25242D;
  border: 1px solid #E096CB;
  border-radius: 1rem;
  
  /* Inside auto layout */
  display: block;
  padding: 2rem;
  flex-shrink: 0;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #E096CB;
}

.buttons {
  display: flex;
  order: 1;
  flex-grow: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button {
  background: #424246;
  border: 2px solid #E096CB;
  border-radius: 175px;
  display: flex;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  
  
  &:after {
    display: block;
    content: '';
    width: 40%;
    height: 40%;
    
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: white;
  }
  
  &:hover, &:active {
    background: #E096CB;
    
    &:after {
      background-color: black;
    }
  }
  
  &.play {
    width: 8rem;
    height: 8rem;
    
    &:before {
      display: block;
      content: '';
      width: 8rem;
      height: 8rem;
      border: 34px solid #484553;
      position: absolute;
      border-radius: 8rem;
    }
    
    &:after {
      position: relative;
      left: 5%;
      mask-image: url(../../../assets/play.svg);
      width: 40%;
      height: 40%;
    }
  }
  
  &.stop {
    &:after {
      mask-image: url(../../../assets/stop.svg);
    }
  }
  
  &.next {
    &:after {
      mask-image: url(../../../assets/next.svg);
    }
  }
  
  &.easter {
    &:after {
      mask-image: url(../../../assets/easter.svg);
    }
  }
}

.full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  .easter {
    width: 6rem;
    height: 6rem;
  }
}
