:host {
  width: 6.75rem;
  height: 3.4rem;
  padding: .5rem;
  margin: .3rem;
 
  border-radius: .9rem;
  background: #424246;
  border: 1px solid #E096CB;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  &.on {
    background: #25242D;
    border: 1px solid #E096CB;
    
  }
  
}

.color-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: .7rem;
  border-radius: 3rem;
}
