:host {
  display: block;
  margin: 0 auto;
}

.circle {
  
  width: 4rem;
  height: 4rem;
  
  background: #363638;
  border: 1px solid #E096CB;
  border-radius: 4rem;
  margin-bottom: .6rem;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #DEDEDE;
}
