:host {
  display: block;
  margin: 0 auto;
}

.circle {
  
  width: 100px;
  height: 100px;
  
  background: #363638;
  border: 1px solid #E096CB;
  border-radius: 175px;
  margin-bottom: 15px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #DEDEDE;
}
